/*.cartIcon {*/
/*    font-size: 20px;*/
/*    color: var(--color-base-800);*/
/*    transition: color 0.2s ease;*/
/*}*/

.cartWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.cartWrapper:hover {
    background-color: var(--color-base-200);
}

/*.cartWrapper:hover .cartIcon {*/
/*    color: var(--color-primary);*/
/*}*/

.cartIcon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: filter 0.2s ease, transform 0.1s ease;
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}